h2 {
  font-size: 30px;
  font-family: "Courier New";
  color: darkred;
  font-weight: bold;
  margin-left: 200px;
  margin-top: 55px;
}

h1 {
  font-size: 18px;
  font-family: "New Century";
}

h3 {
  font-size: 25px;
  font-family: "Arial Black";
  color: black;
  font-style: oblique;
  margin-left: 45px;
  text-decoration: underline;
}

h4 {
  font-size: 18px;
  font-family: "Arial Black";
  color: black;
  margin-left: 25px;
}

.BigForm{
  width: 500px;
  height: 650px;
  margin-left: 175px;
  background: antiquewhite;
}

.InsideForm{
  width: 350px;
  height: 325px;
  margin-left: 80px;
}

.btn-danger{
  margin-left: 200px;
}

.btn-success{
  margin-left: 50px;
}

.cancel{
  padding:10px 5px 10px 5px;
  font:bold 15px Arial;
  background: snow;
  color: black;
  margin-left: 100px;
  border-radius:2px;
  margin-top: 15px;
  width:150px;
  border:2px solid red;
  cursor: pointer;
}


.espaceButton{
  width: 500px;
  height: 50px;
}


.ng-invalid:not(form)  {
  border-left: 5px solid red;
}

.ng-valid:not(form) {
  border-left: 5px solid green;
}
